<div class="alert alert-info">  
    <h2>Parametros de Busqueda</h2>
</div>  
<div class="example-container mat-elevation-z8">  
  <mat-table #Table [dataSource]="MyDataSource" matSort>  
    <!-- For ID -->  
    <ng-container matColumnDef="id">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>  
        <mat-cell *matCellDef="let post"> {{post.id}} </mat-cell>  
    </ng-container>  
    <!-- For ID -->  
    <ng-container matColumnDef="nombreLocal">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Local </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.nombreLocal}} </mat-cell>  
    </ng-container>  

    <!-- For Post FECHA -->  
    <ng-container matColumnDef="nombreSucursal">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </mat-header-cell>  
        <mat-cell *matCellDef="let post"> {{post.nombreSucursal}} </mat-cell>  
    </ng-container>  
    <!-- For Post FECHA -->  
    <ng-container matColumnDef="fecha">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>  
        <mat-cell *matCellDef="let post"> {{post.fecha}} </mat-cell>  
    </ng-container> 
    <!-- For horaInicio -->  
    <ng-container matColumnDef="horaInicio">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hora Inicio </mat-header-cell>  
        <mat-cell *matCellDef="let post"> {{post.horaInicio}} </mat-cell>  
    </ng-container>  

    <!-- For horaFin -->  
    <ng-container matColumnDef="horaFin">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Hora Fin </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.horaFin}} </mat-cell>  
    </ng-container>   
        
    <!-- For sucursalServicio -->  
    <ng-container matColumnDef="nombreCliente">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.nombreCliente}} </mat-cell>  
    </ng-container>      

    <!-- For Empleado -->  
    <ng-container matColumnDef="nombreEspecialidad">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.nombreEspecialidad}} </mat-cell>  
    </ng-container>   
   <!-- For Empleado -->  
   <ng-container matColumnDef="nombreServicio">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.nombreServicio}} </mat-cell>  
    </ng-container>  
      <!-- For Empleado -->  
   <ng-container matColumnDef="nombreEmpleado">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Empleado </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.nombreEmpleado}} </mat-cell>  
    </ng-container>  
    <!-- For Estado -->  
    <ng-container matColumnDef="flagEstado">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.flagEstado}} </mat-cell>  
    </ng-container>      

    <!-- For Asistio -->  
    <ng-container matColumnDef="flagAsistio">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Asistio </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.flagAsistio}} </mat-cell>  
    </ng-container>      

    <!-- For Observacion -->  
    <ng-container matColumnDef="observacion">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Observacion </mat-header-cell>  
      <mat-cell *matCellDef="let post"> {{post.observacion}} </mat-cell>  
    </ng-container>      

    <!-- Columna Accion -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>  
      <mat-cell *matCellDef="let post">   
          <button mat-icon-button [routerLink]="['editar/'+post.id]">
            <mat-icon  class="icono">edit</mat-icon>
        </button> 
      </mat-cell> 
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
  </mat-table>  

  <!-- To paginate between pages with search -->  
  <mat-paginator #paginator [pageSize]="5" >  
  </mat-paginator>  
</div>  
