<div class="aligner"  *ngIf="form">
  <h2>Editar Parametros</h2>
  <form [formGroup] = 'form' (ngSubmit)="onSubmit()">  
    <!--div gral-->
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
      <!--div bloque 1-->
      <div fxFlex="40%" class="bloque">   
        <div class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
          <!-- campo del estado-->          
          <mat-form-field>
            <mat-select formControlName = "flagEstado" placeholder="Estado"  disableRipple id="flagestado">
              <mat-option value="R">Registrado</mat-option>
              <mat-option value="C">Cancelado</mat-option>
            </mat-select>
          </mat-form-field>  
          <br><br>
          <mat-form-field>
            <mat-select formControlName = "flagAsistio" placeholder="Asistio"  disableRipple id="Asistio">
              <mat-option value="S">Si</mat-option>
              <mat-option value="N">No</mat-option>
            </mat-select>
          </mat-form-field>

        <br><br>
        <mat-form-field *ngIf="form.get('flagEstado').value==='C' ">
            <textarea formControlName="observacion" matInput placeholder="Observacion"></textarea>
            <mat-hint>Justifique porque se esta cancelando la reserva</mat-hint>
        </mat-form-field>

        </div>
      </div>
      <br>
      <br>
      <div class="example-button-row">   
        <button mat-raised-button color="accent" (click)="onclickBack()" >Volver</button>
        <button mat-flat-button color="primary"  [disabled]="form?.invalid">Guardar</button>
      </div>
    </div>   
  </form>
</div>
  
  