.example-button-row button,
.example-button-row a {
  margin-right: 20px;
}

.mat-form-field{
  margin-top: 20px;
}

.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.example-container > * {
  width: 100%;
}
/*css para el div de bloques*/

.bloque > *{
  width: 100%;

}






/*css para el form*/
.mat-form-field{
  margin-top: 20px;
}

.example-card {
  max-width: 300px;
}

/*css para el div gral*/

.example-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.example-container > * {
  width: 100%;
}


/*css para la foto de perfil*/
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.hoverable:hover .background{
  display: block;
}

/*css para ocultar el div de subir archivos*/
.inputFile{
  display: none;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
  }

/*css para el div de bloques*/

  .bloque > *{
    width: 100%;

  }

  /*css para el mensaje de error*/

  .error{
    color:red;
  }

  .example-right-align {
    text-align: right;
  }
    
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
    
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .right-profile{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    position: relative;
    margin-top: 60px;
  }
    
  .fotoPerfil { 
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
    
  .card{
    display: flex;
    flex-direction: column;
    padding: 80px;
    position: relative;

  }
  .card-header:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.6s;
  }
  h2 {
    text-align: left;
    padding-top: 40px;
    margin-inline-start: 50px;
  
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .icono{
    width:10px; 
    height:18.35px;
    color:rgba(0, 0, 0, 0.54);
  }
    
  input { margin: 5px; }
  .card-header i {
    font-size: 24px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    color: #fff;
  }
  
  .card-content{
    position: absolute;
  }
  
  .card-title{
    padding-left: 80px;
  }
  
  .mat-input-container{
    width: 100%;
    top: 20%
  }
  
  .category{
    font-weight: 300;
  }
  
  form{
    margin-top: 30px;
    
  }
  
  .row{
    margin-top: 15px;
  }
  
  .mat-input-container textarea{
    height: 90px;
  }
  





