<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <span>Sistema de Agendamiento</span>
    <span class="example-spacer"></span>
    <img src="src/store-favicon.png"  class="example-icon" alt="Store Logo" >
  </mat-toolbar>

<div mat-card-avatar class="example-header-image"></div>
<div class="mat-typography app-frame mat-app-background" fxLayout="column">
  
</div>
<!-- <div class="logo">
        <img src="src/w.png" alt="Store Logo" >
      </div> -->

<router-outlet></router-outlet>

