@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

img {
    margin: 10px 0;
}
.logo {
    display: flex;
    justify-content: right;
    max-width: 50px;  
}

.example-icon {
  padding: 5 20px;
  width: 50px;
  height: 55px;
  align-content: left;
}

.example-spacer {
  flex: 5 5 auto;
}